<div id="<%= dom_id fraction %>">

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= fraction.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Vertrag bis: <%= fraction.contract %></h6>
    
     <p>
    <strong>Primary:</strong>
    <%= fraction.primary %>
  </p>

  <p>
    <strong>Secondary:</strong>
    <%= fraction.secondary %>
  </p>

  <p>
    <strong>Pearl:</strong>
    <%= fraction.pearl %>
  </p>

  <p>
    <strong>Smoke:</strong>
    <%= fraction.smoke %>
  </p>

  <p>
    <strong>Lights:</strong>
    <%= fraction.lights %>
  </p>

  <p>
    <strong>Contract:</strong>
    <%= fraction.contract %>
  </p>

  <p>
    <strong>Plate:</strong>
    <%= fraction.plate %>
  </p>
    <%# <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> %>
  </div>
  
</div>
  <br/>


</div>