<div id="<%= dom_id fraction %>">
  <p>
    <strong>Name:</strong>
    <%= fraction.name %>
  </p>

  <p>
    <strong>Primary:</strong>
    <%= fraction.primary %>
  </p>

  <p>
    <strong>Secondary:</strong>
    <%= fraction.secondary %>
  </p>

  <p>
    <strong>Pearl:</strong>
    <%= fraction.pearl %>
  </p>

  <p>
    <strong>Smoke:</strong>
    <%= fraction.smoke %>
  </p>

  <p>
    <strong>Lights:</strong>
    <%= fraction.lights %>
  </p>

  <p>
    <strong>Contract:</strong>
    <%= fraction.contract %>
  </p>

  <p>
    <strong>Plate:</strong>
    <%= fraction.plate %>
  </p>

</div>
