
<h1>Fraktionen</h1>

<table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Primärfarbe</th>
        <th scope="col">Sekundärfarbe</th>
        <th scope="col">Perleffekt</th>
        <th scope="col">Reifenrauch</th>
        <th scope="col">Unterbodenbelichtung</th>
        <th scope="col">Vertrag bis</th>
        <th scope="col">inkl. Kennzeichen</th>
        <th> </th>
        <th> </th>
        <th> </th>
      <tr>
    </thead>
    <tbody>
      <% @fractions.each do |fraction| %>
        
        <tr>
                   
          <td><%= fraction.name %></td>
          <td><%= fraction.primary %></td>
          <td><%= fraction.secondary %></td>
          <td><%= fraction.pearl %></td>
          <td><%= fraction.smoke %></td>
          <td><%= fraction.lights %></td>
          <td><%= fraction.contract %></td>
          <td><%= fraction.plate %></td>
          <td><%= link_to 'Zeigen', fraction, class: "btn btn-outline-info btn-sm" %></td>
          <td><%= link_to 'Bearbeiten', edit_fraction_path(fraction), class: "btn btn-outline-warning btn-sm" %></td>
          <td><%= link_to 'Löschen', fraction, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
          
        </tr>
       <% end %>
      
    </tbody>
  </table>

  <br/>

  <%= link_to 'Neue Fraktion', new_fraction_path, class:"btn btn-secondary" %>

