<nav class="navbar navbar-expand-lg" style="background-color: #a55ced;">
  <div class="container-fluid">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsxybzju0CQKdwsj4P1SY6PgoIc4GblhnIFw&usqp=CAU.svg"
      alt="" width="50" height="50" class="d-inline-block align-text-top">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Preisliste', root_path, class:"nav-link"%>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Fraktionen', fractions_path, class:"nav-link"%>
          </li>

          <li class="nav-item">
            <%= link_to "Ausloggen", destroy_user_session_path, :method => :delete, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Neuer Mitarbeiter', new_user_registration_path, class:"nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to 'Mitarbeiter bearbeiten', edit_user_registration_path, class:"nav-link"%>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Einloggen', new_user_session_path, class:"nav-link"%>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>